body {
  font: 22px "Roboto", sans-serif;
  margin: 0px;
  background-color: #fffff2;
}

ol,
ul {
  padding-left: 0px;
  /* 30 px */
}

p {
  font: 20px "Roboto", sans-serif;
  color: rgb(61, 64, 91);
  display: block;
  text-align: center;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  text-align: center;
  background: rgb(61, 64, 91);
  color: rgb(129, 178, 154);
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
  width: 100%;
}

div {
  text-align: center;
}

.heading2 {
  font: 20px "Roboto", sans-serif;
  text-align: center;
  background: rgb(61, 64, 91);
  color: rgb(129, 178, 154);
  margin-top: 0px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 100%;
}

.heading {
  display: flex;
  font: 20px "Roboto", sans-serif;
  text-align: center;
  background: rgb(61, 64, 91);
  color: rgb(129, 178, 154);
  margin-top: 0px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 100%;
}

#rules-button {
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgb(224, 122, 95);
  color: rgb(61, 64, 91);
  height: 40px;
}

ul {
  font: 15px "Roboto", sans-serif;
  text-align: left;
  background: rgb(61, 64, 91);
  color: rgb(129, 178, 154);
  margin-top: 0px;
  padding-left: 35%;
  padding-bottom: 20px;
  margin: 0;
  width: 100%;
}

#submit {
  margin-top: 20px;
  background-color: rgb(224, 122, 95);
  color: rgb(61, 64, 91);
  align-items: center;
}

#create {
  margin-top: 20px;
  background-color: rgb(224, 122, 95);
  color: rgb(61, 64, 91);
}

#join {
  margin-top: 20px;
  background-color: rgb(224, 122, 95);
  color: rgb(61, 64, 91);
}

.page {
  vertical-align: middle;
}

.status-info {
  margin-left: 20px;
  color: rgb(208, 33, 41);
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(208, 33, 41);
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: space-evenly;
}

.status {
  margin-bottom: 10px;
}

.nameHeader {
  text-align: left;
  margin-left: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
  margin-left: auto;
  justify-content: center;
  min-height: 15vh;
}

.input-class {
  margin-top: -0.1em;
}

.title-class {
  font-size: 1.5rem;
}

.popup-class {
  height: 165px;
}

.answer {
}

#meetingID {
  background-color: rgb(224, 122, 95);
  padding: 10px;
  border-radius: 10%;
}
